@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Navbar CSS */
.sidebar-lp {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars-lp {
  margin-left: 5rem;
  font-size: 2rem;
  background: none;
  color: #737373;
}

.close-bars {
  color: white;
}

.close-bars:hover {
  color: #c3c3c3 !important;
}

.nav-menu-lp {
  background: #222222ac;
  backdrop-filter: blur(4px);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100000000;
}

.nav-menu-lp.active {
  left: 0;
  transition: 450ms;
  z-index: 1;
  position: fixed;
}

.nav-text-lp {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text-lp a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  border: 2px solid rgb(187, 187, 187);
}

.nav-text-lp a:hover {
  border: 2px solid rgb(187, 187, 187);
  background: rgb(187, 187, 187);
  color: #0e1e34;
}

.logout-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  border: 0px solid rgb(187, 187, 187) !important;
}

.logout-text a:hover {
  color: #ce4545;
  background: rgba(0, 0, 0, 0) !important;
}

.logout-text a {
  border: 2px solid rgb(187, 187, 187);
  bottom: 0;
}

.nav-menu-items-lp {
  width: 100%;
}

.navbar-toggle-lp {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
