@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Navbar CSS */
.sidebar {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #2f8ac7, #0062e6);
  border-bottom: 2px solid rgb(187, 187, 187);
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1000000;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #f5f5f5;
}

.open-bars:hover {
    color: #0e1e34;
  }

  .close-bars:hover {
    color: #33aeff
  }

.nav-menu {
  background: #0e1e34;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100000000;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
  z-index: 1;
  position: fixed;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  border: 2px solid rgb(187, 187, 187);
}

.nav-text a:hover {
  border: 2px solid rgb(187, 187, 187);
  background: linear-gradient(to right, #004aac, #125dbe, #004aac);
}

.logout-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  border: 0px solid rgb(187, 187, 187) !important;
}

.logout-text a:hover {
  color: #ce4545;
  background: rgba(0, 0, 0, 0) !important;

}

.logout-text a {
  border: 2px solid rgb(187, 187, 187);
  bottom: 0;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
