.activity-notes {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 50px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(247, 247, 247);
}