.signup-page {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  height: 100vh;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.a-user {
  color: rgb(63, 63, 63) !important;
  background-color: #eaeaea;
}

.a-user:hover {
    color: rgb(63, 63, 63) !important;
    background-color: #d5ecd0;
  }

